.carousel{
    height: 540px;
    width: 100%;
    margin-top:50px;
}

.carousel-item img{
    height: 90vh;
}

.text-head{
    padding: 0px 34px;
    font-size: 34px;
}

.boxed{
    width: 47%;
    height: 30%;
    padding-top: 30px;
    margin: auto;
    background-color:  #dc6226;
    
}